# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/jarRepositories.xml
/.idea/modules/solver.main.iml
/.idea/modules/solver.test.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
