<ng-container>
  <h1>Empire secret file</h1>
  <h2 *ngIf="!fileContent">Select a file to start the mission</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <div *ngIf="fileContent">
    <p>{{ fileContent.countdown }} days before the empire destroy Endor</p>
    <ul>
      @for (hunter of fileContent.bounty_hunters; track hunter.day) {
        <li>Hunters are in {{ hunter.planet }} at day {{ hunter.day }}</li>
      }
    </ul>
  </div>
  <button class="button-17" role="button" *ngIf="fileContent" (click)="submitFile()">Save the galaxy</button>
</ng-container>
